<div class='home-head'>
  <div>
    <h1>Hi, I'm Nathan.<br>I do software development.</h1>
    <h2>I am an 21 year old ruby on rails freelance developer.</h2>
    <h2>In my free time, I educate myself and code random things.</h2>
  </div>
  <div>
    <%= image_tag("nathan") %>
  </div>
</div>

<% if @post %>
  <div class='last-post'>
    <%= link_to post_path(@post) do%>
      <div class='post-card'>
        <h2><%= @post.title %></h2>
        <p><%= @post.description %></p>
      </div>
    <% end %>
  </div>
<% end %>

<div class='info'>
  <h2>Here are my technicals knowledges.</h2>
  <ul>
    <li><%= image_tag("ruby") %> Ruby</li>
    <li><%= image_tag("rails") %> Rails</li>
    <li><%= image_tag("postgresql") %> PostreSQL</li>
    <li><%= image_tag("js") %> JavaScript</li>
    <li><%= image_tag("git") %> Git</li>
    <li><%= image_tag("github") %> Github</li>
    <li><%= image_tag("heroku") %> Heroku</li>
  </ul>

  <h2>Below are what am I currently learning.</h2>
  <ul>
    <li><%= image_tag("docker") %> Docker</li>
    <li><%= image_tag("nginx") %> Nginx</li>
    <li><%= image_tag("ipfs") %> IPFS</li>
    <li><%= image_tag("solidity") %> Solidity</li>
  </ul>

  <h2>And here are some of my experiences.</h2>
</div>
