<!DOCTYPE html>
<html>
  <head>
    <title>Nathan Berthier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('icon.jpg') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <!-- Primary Meta Tags -->
    <title>Nathan Berthier.</title>
    <meta name="title" content="Nathan Berthier.">
    <meta name="description" content="I am an 21 year-old ruby on rails freelance developer.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nathanberthier.fr">
    <meta property="og:title" content="Nathan Berthier.">
    <meta property="og:description" content="I am an 21 year-old ruby on rails freelance developer.">
    <meta property="og:image" content="https://res.cloudinary.com/dwtpbtypz/image/upload/v1635262498/fond_mvceij.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://nathanberthier.fr">
    <meta property="twitter:title" content="Nathan Berthier.">
    <meta property="twitter:description" content="I am an 21 year-old ruby on rails freelance developer.">
    <meta property="twitter:image" content="https://res.cloudinary.com/dwtpbtypz/image/upload/v1635262498/fond_mvceij.jpg">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WZRSSEQJNF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WZRSSEQJNF');
    </script>
  </head>

  <body class='dark-theme'>
    <div class='container'>
      <%= render 'shared/navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
